/* Variables */
:root {
    --light-bg: #f4f4f4;
    --dark-bg: #121212;
    --light-text: #333;
    --dark-text: #e0e0e0;
    --primary-color: #007bff;
}

/* Base Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg);
    color: var(--light-text);
    scroll-behavior: smooth;
    transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

/* Navbar */
header, footer {
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding: 20px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button#theme-switch {
    background-color: var(--primary-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* Sections */
section {
    padding: 50px 20px;
}

.gallery img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 10px;
}
